body {
background-color: #0f172a;
 /*cor de fundo azul*/
font-family: Arial,sans-serif;
 /*fonte do texto*/
}

h1{
color: #00ffcc; /*cor do meu h1*/
text-align: center;/*centralizando o meu titulo*/
text-shadow: 0px 0px 10px #00ffcc; /*efeito neon*/

}

p{ 
color: #e2e8f0;/*cor do texto*/
font-size: 16px; /*tamanho da fonte*/
text-align: justify;
width: 60%;/*largura do parágrafo*/
margin: 20px auto;
}

img {
    height: auto; /* Manter proporção da imagem*/
    width: 35%; /*define largura*/ 
    max-width: 400px; /*Limita tamanho máximo*/
    display: block; /*permite centralização*/
    margin: 20px auto; /*Centraliza a imagem*/
    border-radius: 10px; /*Bordas arredondadas*/
}









